.navbar-word-highlight {
    color: #FF3535;
}
.navbar-nav .nav-item.active .nav-link {
    color: #5755ff;
    background: transparent;
}

.navbar p {
    font-size: 19px;
}

.navbar-dark-mode {
    background-color: #1c2025 !important;
    color: #ffffff !important;
}

#darkModeToggle {
    cursor: pointer;
}

.container {
    margin-top: 15px;
    padding: 2ch;
    text-align: center;
    justify-content: center;
}

.container img {
    width: 400px;
    height: auto;
    border-radius: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}





html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    height: 25px;
    padding: 1px;
}

.sclinks a {
    color: rgb(0, 0, 0);
}
.sclinks p {
    font-size: 20px;
}
.buttn-cl {
    color: black;
}


