.navbar-nav .nav-item.active .nav-link {
    color: #5755ff;
    background: transparent;
}

.navbar p {
    font-size: 19px;
}

.navbar-dark-mode {
    background-color: #1c2025 !important;
    color: #ffffff !important;
}

.navbar-text {
    font-size: 15px;
}

.navbar-text:hover {
    color: black;
}

#darkModeToggle {
    cursor: pointer;
    font-size: 17px;
}

.container {
    margin-top: 15px;
    padding: 2ch;
    text-align: center;
    justify-content: center;
}

.container img {
    width: 250px;
    height: auto;
    border-radius: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    flex: 1;
}
.one {
    color: red;
}
.two {
    color: red;
}
.s-one {
    color: white;
    background-color: rgb(48, 48, 48);
}
.s-two {
    color: rgb(48, 48, 48);
    background-color: white;
}
.dark-bg-one {
    background-color: white !important;
  }
  
  .dark-text-one {
    color: rgb(48, 48, 48) !important;
  }
  
  .dark-bg-two {
    background-color:rgb(48, 48, 48) !important;
    color: white;
  }
  
.dark-text-two {
    color: white !important;
}
