.navbar-word-highlight {
    color: #FF3535;
}
.navbar-nav .nav-item.active .nav-link {
    color: #5755ff;
    background: transparent;
}

.navbar p {
    font-size: 19px;
}

.navbar-dark-mode {
    background-color: #343a40 !important;
    color: #ffffff !important;
}

#darkModeToggle {
    cursor: pointer;
}

.container {
    margin-top: 15px;
    padding: 2ch;
    text-align: center;
    justify-content: center;
}

.container img {
    width: 200px;
    height: auto;
    border-radius: 50px;
}

.text-container {
    margin-top: 20px;
}
main h {
    font-size: 36px;
}
main p {
    font-size: 18px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    height: 25px;
    padding: 1px;
}

.cvbt { 
    border: 1px solid black;
    width:130px;
    border-radius: 20px;
    color: 3404041; 
    font-size: 15px;
}
.cvbt:hover {
    background-color: #404041;
    color: white;
}
.cnbt {
    border: 1px solid black;
    width: 130px;
    border-radius: 20px;
    background-color: #404041;
    color: white;
}
.sclinks a {
    color: black;
}
.sclinks p {
    font-size: 20px;
}

 
